
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/f0/9c/8b/f09c8bf496ed81ec4e92a4bddd60ae38.jpg)">
  Bookings
</div>
<div class="card-group">
  <% current_user.bookings.each do |booking| %>
    <div class="card-trip">

        <%= link_to spaceship_path(booking.spaceship)  do %>
            <img src="https://wallpaperaccess.com/full/1224372.jpg" />
        <% end %>

      <div class="card-trip-infos">
        <div>
          <h2>
            <%= booking.spaceship.name %>
          </h2>
          <div>
            <p>
              <%= booking.start_date.strftime("%A %e %m %Y") %>
              <br>
              <%= booking.end_date.strftime("%A %e %m %Y") %>
            </p>
          </div>
        </div>
        <h2 class="card-trip-pricing">
          <p> Price! </p>
          <% start = booking.start_date %>
          <% end_count = booking.end_date %>
          <%= booking.spaceship.price_per_day * (end_count - start).to_i %>
        </h2>
      </div>
    </div>
  <% end %>
</div>
