<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/f0/9c/8b/f09c8bf496ed81ec4e92a4bddd60ae38.jpg)">
    MY SPACESHIPS DASHBOARD
</div>
<br>
<% if @spaceships.empty? %>
  <div class="container-dashboard">
    <div class="text-dashboard">
      <h1> You have no spaceships yet !</h1>
      <br>
        <div class="button-dashboard">
          <%= link_to new_spaceship_path, class: "glow-on-hover d-flex justify-content-center align-items-center", type: "button" do %>
            <p>Add a new spaceship !</p>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
<%# if @bookings_pending.present? %>
<% @spaceships.each do |spaceship| %>
  <% if spaceship.photo.attached? %>
    <div class="spaceshipcard col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path spaceship.photo.key, height: 300, crop: :fill %>')">
  <% else %>
    <div class="spaceshipcard col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/1224372.jpg)">
  <% end %>
      <%= link_to spaceship.name, spaceship_path(spaceship) %>
      <%# <% if Booking.where(spaceship_id: @bookings[0].spaceship_id)[0].present?%>
      <% if spaceship.bookings.empty? %>
        <p>No bookings yet</p>
      <% else %>
        <%# if Booking.where(spaceship_id: @bookings[0].spaceship_id)[0].pending? %>
        <% spaceship.bookings.each do |booking| %>
          <% if booking.pending? %>
            <%= link_to "ACCEPT ME", accept_booking_path(booking), data: {turbo_method: :patch}%>
            <%= link_to "DECLINE ME", decline_booking_path(booking), data: {turbo_method: :patch} %>
          <% elsif booking.active?%>
            <h2> ACCEPTED </h2>
          <% else %>
            <h2> DECLINED </h2>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>

<br>
<div class="button-dashboard">
  <%= link_to new_spaceship_path, class: "glow-on-hover d-flex justify-content-center align-items-center", type: "button" do %>
    <p>Add a new spaceship !</p>
  <% end %>
</div>
