<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d3ezn0y6hdgq62.cloudfront.net/NS-18-AudreyPowers.jpeg);">
  <div class="container">
    <h1><strong>starRide</strong></h1>
    <p>giving you <strong>space</strong></p>
  </div>
</div>
<br>
<h2 class="text-center">On which planet is your spaceship based?</h2>
<div class="d-flex justify-content-between">
  <div class="planetcard">
    <%= image_tag('seed/planet_1.png', style: "height: 250px; width: 250px") %>
    <%= link_to "Bogano", spaceships_path(planet: "Bogano") %>
  </div>
  <div class="planetcard">
    <%= image_tag('seed/planet_2.png', style: "height: 250px; width: 250px") %>
    <%= link_to "Christophsis", spaceships_path(planet: "Christophsis") %>
  </div>
  <div class="planetcard">
    <%= image_tag('seed/planet_2.png', style: "height: 250px; width: 250px") %>
    <%= link_to "Florrum", spaceships_path(planet: "Florrum") %>
  </div>
    <div class="planetcard">
    <%= image_tag('seed/planet_2.png', style: "height: 250px; width: 250px") %>
    <%= link_to "Earth", spaceships_path(planet: "Earth") %>
  </div>
  <div class="planetcard">
    <%= image_tag('seed/planet_2.png', style: "height: 250px; width: 250px") %>
    <%= link_to "Earth", spaceships_path(planet: "Earth") %>
  </div>
</div>
<br>


<h2 class="text-center">Take a look at some of our spaceships</h2>
<br>
<div class="container">
  <div class="row g-4">
  <% @spaceships.sample(4).each do |spaceship| %>
    <div class="col">
      <div class="card h-100">
        <img src="https://wallpaperaccess.com/full/1224372.jpg" class="card-img-top"
          alt="example card" />
        <div class="card-body">
          <h5 class="card-title"><%= spaceship.name %></h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
