<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/13/6c/4d/136c4df7a73276c9e2fb088fee3c4972.jpg);">
  <div class="container">
    <h1><strong>starRide</strong></h1>
    <h2 class="text-center">giving you <strong>space</strong></h2>
  </div>
</div>
<div class="background">
<br>
  <h2 class="text-center">On which planet is your spaceship based</h2>
  <div class="d-flex justify-content-between">
    <%= link_to spaceships_path(planet: "Vulcan") do %>
        <div class="planetcard">
          <%= image_tag('seed/planet_1.png', style: "height: 250px; width: 250px") %>
           <p>Vulcan</p>
        </div>
      <% end %>
    <%= link_to spaceships_path(planet: "Tatooine") do %>
        <div class="planetcard">
         <%= image_tag('seed/planet_2.png', style: "height: 250px; width: 250px") %>
          <p>Tatooine</p>
        </div>
      <% end %>
      <%= link_to spaceships_path(planet: "Krypton") do %>
         <div class="planetcard">
          <%= image_tag('seed/planet_3.png', style: "height: 250px; width: 250px") %>
           <p>Krypton</p>
        </div>
      <% end %>
      <%= link_to spaceships_path(planet: "Dagobah") do %>
         <div class="planetcard">
          <%= image_tag('seed/planet_4.png', style: "height: 250px; width: 250px") %>
           <p>Dagobah</p>
        </div>
      <% end %>
      <%= link_to spaceships_path(planet: "Earth") do %>
         <div class="planetcard">
          <%= image_tag('seed/planet_5.png', style: "height: 250px; width: 250px") %>
           <p>Earth</p>
         </div>
      <% end %>
  </div>
  <br>
  <h2 class="text-center">Take a look at some of our spaceships</h2>
  <br>
  <div class="container mx-auto">
    <div class="row g-4">
    <% @spaceships.sample(4).each do |spaceship| %>
      <div class="col">
        <div class="card h-100 img-size">
      <%= link_to spaceship_path(spaceship) do %>
        <% if spaceship.photo.attached? %>
           <%= image_tag spaceship.photo %>
        <% else %>
          <img src="https://wallpaperaccess.com/full/1224372.jpg" class="card-img-top"
            alt="example card" />
        <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to spaceship.name, spaceship_path(spaceship) %></h5>
            <p class="card-text">
              <%= spaceship.description %>
            </p>
              <p class="card-text">
              <p>Price per day: $<%= number_with_delimiter(spaceship.price_per_day) %></p>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Max. number of passengers: <%= spaceship.number_of_passenger %></small>
          </div>
          <div class="card-footer">
            <small class="text-muted">Available on planet <%= spaceship.planet %></small>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>
   </div>
  <div class="text-center">
  <br>
     <h2>Didn't find anything? See all our spaceships</h2>
     <br>
     <h5 class="all text-center"><%= link_to "All spaceships", spaceships_path %></h5>
 </div>
<%# APPLY FRONT END HERE %>

</div>
