<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d3ezn0y6hdgq62.cloudfront.net/NS-18-AudreyPowers.jpeg);">
  <div class="container">
    <h1><strong>starRide</strong></h1>
    <p>giving you <strong>space</strong></p>
  </div>
</div>

<h4 class="text-center">In which planet is your spaceship based?</h4>




<div class="container text-center">
  <%= image_tag('seed/planet_1.png', style: "height: 200px; width: 200px") %>
  <%= link_to "Bogano", spaceships_path(planet: "Bogano"), class: "planetclass" %>
  <%= link_to "Christophsis", spaceships_path(planet: "Christophsis"), class:"btn btn-secondary btn-circle btn-xl" %>
  <%= link_to "Florrum", spaceships_path(planet: "Florrum"), class:"btn btn-primary btn-circle btn-xl" %>
  <%= link_to "Florrum", spaceships_path(planet: "Florrum"), class:"btn btn-warning btn-circle btn-xl" %>
  <%= link_to "Earth", spaceships_path(planet: "Earth"), class:"btn btn-dark btn-circle btn-xl" %>
</div>


<div class="text-center">
  <h1>Some of our Spaceships</h1>
  <ul>
    <% @spaceships.each do |spaceship| %>
      <li><%= spaceship.name %></li>
    <% end %>
</ul>
</div>
