<% if params[:planet] %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/f0/9c/8b/f09c8bf496ed81ec4e92a4bddd60ae38.jpg)">
    <%= params[:planet].upcase %> SPACESHIPS AVAILABLE
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/f0/9c/8b/f09c8bf496ed81ec4e92a4bddd60ae38.jpg)">
    ALL YOUR SPACESHIPS AVAILABLE
  </div>
<% end %>
<br>

<div class="container justify-content-center gap-3 row mx-auto">
    <% @spaceships.each do |spaceship| %>
      <% if spaceship.photo.exist? %>
        <div class="spaceshipcard col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path spaceship.photo.key, height: 300, crop: :fill %>')">
          <%= link_to spaceship.name, spaceship_path(spaceship) %>
        </div>
      <%else %>
        <div class="spaceshipcard col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/1224372.jpg)">
          <%= link_to spaceship.name, spaceship_path(spaceship) %>
        </div>
        <% end %>
    <% end %>
</div>
<br>

<div class="container text-center">
<button class="glow-on-hover" type="button"> <%= link_to 'Add a new spaceship', new_spaceship_path %></button>
</div>
